/* Фон всей страницы */
body {
    background-color: #f0f0f0; /* светло-серый */
    font-family: Arial, sans-serif;
}

/* Неупорядоченные списки */
ul li {
    color: blue; /* синий текст */
}

/* Упорядоченные списки */
ol li {
    font-size: 18px; /* увеличенный размер шрифта */
}
