body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  background-color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  position: relative;
}

.menu > li > a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  transition: background 0.3s;
}

.menu > li > a:hover {
  background-color: #444;
}

.submenu, .sub-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.submenu li, .sub-submenu li {
  position: relative;
}

.submenu a, .sub-submenu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  white-space: nowrap;
}

.submenu a:hover, .sub-submenu a:hover {
  background-color: #555;
}

.menu li:hover > .submenu {
  opacity: 1;
  visibility: visible;
}

.sub-submenu {
  top: 0;
  left: 100%;
}

.submenu li:hover > .sub-submenu {
  opacity: 1;
  visibility: visible;
}

nav {
  position: relative;
  z-index: 100;
}
